@font-face {
  font-family: "b";
  src: url("./fonts/BradfordMonoLL-Regular.otf");
}
html,
body {
  margin: 0;
  font-family: "b", "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}
main,
footer {
  padding: 12px;
  position: relative;
  z-index: 2;
}
#title {
  display: inline-block;
  font-size: 48px;
}
a {
  color: black;
}
a:hover,
#mail:hover {
  color: grey;
}
.description {
  font-size: 12px;
}
.type {
  margin: 22px 0 0 0;
}
#mail {
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  /* border-bottom: 1px solid black; */
}
footer {
}
footer a {
  font-size: 12px;
  color: lightgrey;
}
span {
  transition: color 0.2s ease;
}
