html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  margin: 0;
}
#mail {
  color: blue;
}
section {
  padding: 12px;
}
section:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
img {
  max-width: 460px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  margin: 12px 0;
  background-color: white;
  border-radius: 8px;
}
hr {
  border: none;
  border-top: 1px solid grey;
}
